<p>
    
    <a href="https://soundcloud.com/shockofdaylight"><i class="fa fa-soundcloud" aria-hidden="true" [class.dark]="dark" [class.light]="light"></i></a> 
    <a href="https://shockofdaylight.bandcamp.com/"><i class="fa fa-bandcamp" aria-hidden="true" [class.dark]="dark" [class.light]="light"></i></a>
    <a href="https://twitter.com/shockofdaylight"><i class="fa fa-twitter" aria-hidden="true" [class.dark]="dark" [class.light]="light"></i></a>
    <a href="http://shockofdaylight.com/"><i class="fa fa-home" aria-hidden="true" [class.dark]="dark" [class.light]="light"></i></a>
    <a href="https://github.com/dannycurrie/Anschauen"><i class="fa fa-github" aria-hidden="true" [class.dark]="dark" [class.light]="light"></i></a>
    
</p>