.audioContainer{
    letter-spacing: 3;
}

.controls{
    width: 40%;
    float: right;
}

.label{
    width:40%;
    float: left;
}

.dark{
    color: black;
}

.light{
    color: white;
}

span{
    text-align: right;
}





