.playing{
    color: green;
}

div{
    text-align: center;
    letter-spacing: 2;
}

.notplaying .dark{
    color: darkslategray;
}

.notplaying .light{
    color: lightgray;
}

h3{
    text-align: center;
}

.dark{
    color: black;
}

.light{
    color: white;
}